<div class="container mt-4">
  <div class="row g-4">

    @for (item of (items$ | filter:filterText); track item._id) {
    <div class="col-md-4">
      <app-blog-item [image]="item.image"
                     [text]="item.text"
                     [id]="item._id">
      </app-blog-item>
    </div>
    } @empty {
    <div class="col-12 text-center mt-5">
      <div class="alert alert-info shadow-sm">
        <i class="bi bi-search"></i> Brak wyników spełniających kryteria wyszukiwania:
        <strong>"{{ filterText }}"</strong>
      </div>
    </div>
    }

  </div>
</div>
